<div class="container-fluid display-table abs">
  <div class="row display-table-row">
    <mat-sidenav-container class="n-container" style="background-color: white;">
      <mat-sidenav [disableClose]="isDesktop" [opened]="isDesktop" #sidenav class="n-sidenav" [mode]="mode" style="transition: 0.3s;">
        <img [src]="user.providerData[0].photoURL || user.photoURL" alt="user picture" class="n-circle-logo n-margin ">
        <br/>
        <div class="n-header">
          <span class="mat-nav-name n-padding">{{user.displayName}}</span>
          <br/>
          <span class="mat-nav-email n-padding ">{{user.email}}</span>
          <br/>
        </div>
        <mat-divider></mat-divider>
        <mat-nav-list>
          <a *ngFor="let item of routes" mat-list-item [routerLink]="item.route" (click)="(!sidenav.disableClose) ? sidenav.close() : null">
            <mat-icon>{{item.icon}}</mat-icon>{{item.title}}</a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-toolbar color="primary" class="n-toolbar">
        <button mat-icon-button (click)="(sidenav.opened) ? sidenav.close() : sidenav.open()" *ngIf="!isDesktop">
          <mat-icon>menu</mat-icon>
        </button>

        <span>iNeed</span>

        <span class="spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onClickLogout()">
            <mat-icon>account_box</mat-icon>
            <span>Meu perfil</span>
          </button>
          <button mat-menu-item (click)="onClickLogout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <!-- Container -->
      <div class="user-dashboard" style="background-color: white;">
        <router-outlet></router-outlet>
      </div>

      <!-- Footer -->
      <div class="row">
        <footer class="footer">
          <div class="text-center center-block">
            <h4 class="txt-railway">iNeed - 2017</h4>
            <br/>
            <a href="#">
              <i id="social-fb" class="fa fa-facebook fa-3x social"></i>
            </a>
            <a href="#">
              <i id="social-tw" class="fa fa-twitter fa-3x social"></i>
            </a>
            <a href="#">
              <i id="social-gp" class="fa fa-google-plus fa-3x social"></i>
            </a>
            <a href="#">
              <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
            </a>
            <a href="#">
              <i id="social-yt" class="fa fa-youtube fa-3x social"></i>
            </a>
          </div>
        </footer>
      </div>
    </mat-sidenav-container>
  </div>
</div>