<form [formGroup]="employeeForm" (ngSubmit)="addEmployee(employeeForm.value)">
  <div fxLayout="column">
    <div fxFlex="100">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Nome do funcionário" [formControl]="employeeForm.controls['name']" required>
        <mat-hint align="end">{{ employeeForm.controls['name'].value.length }} / 40</mat-hint>
        <mat-error align="start" *ngIf="employeeForm.controls['name'].hasError('maxlength')">
          O nome é
          <strong>longo demais</strong>
        </mat-error>
        <mat-error *ngIf="employeeForm.controls['name'].hasError('minlength')">
          O nome é
          <strong>curto demais</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100">
      <mat-form-field fxFlex="100">
        <input matInput placeholder="Nome de acesso" [formControl]="employeeForm.controls['login']" required>
        <mat-hint align="start">Login do seu funcionário</mat-hint>
        <mat-hint align="end">{{ employeeForm.controls['login'].value.length }} / 20</mat-hint>
        <mat-error align="start" *ngIf="employeeForm.controls['login'].hasError('maxlength')">
          O login é
          <strong>longo demais</strong>
        </mat-error>
        <mat-error *ngIf="employeeForm.controls['login'].hasError('minlength')">
          O login é
          <strong>curto demais</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100">
        <mat-form-field fxFlex="100">
          <mat-select fxFlex="100" id="options-select" label="Onde trabalha" placeholder="Onde trabalha" [formControl]="employeeForm.controls['stores']"
            required multiple>
            <mat-option *ngFor="let store of stores" [value]="store.id">{{store.name + " - " + store.address}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    <div fxFlex="100">
      <mat-form-field fxFlex="100">
        <mat-select fxFlex="100" id="options-select" label="Permissão" placeholder="Permissão" [formControl]="employeeForm.controls['permissionLevel']"
          required>
          <mat-option *ngFor="let permission of permissions" [value]="permission.value">{{permission.value + " - " + permission.function}}</mat-option>
        </mat-select>
        <mat-hint align="start">As permissões se acumulam</mat-hint>
      </mat-form-field>
    </div>
    <image-upload [max]="1" [extensions]="['jpeg','png']" [buttonCaption]="'Escolha'" [dropBoxMessage]="'Solte a foto de perfil aqui!'"
      [fileTooLargeMessage]="'Imagem muito grande!'" (uploadFinished)="imageFinishedUploading($event)" (removed)="imageRemoved($event)"
      (uploadStateChanged)="uploadStateChange($event)"></image-upload>
    <button mat-raised-button type="submit" [disabled]="!employeeForm.valid">ADICIONAR</button>
  </div>
</form>
<!--
<p-growl [value]="growlMessages"></p-growl> -->