<table td-data-table>
  <thead>
    <tr td-data-table-column-row>
      <th td-data-table-column
          *ngFor="let column of columns"
          [numeric]="column.numeric">
        {{column.label}}
      </th>
      <th td-data-table-column>
        Ações
      </th>
    </tr>
  </thead>
  <tbody>
    <tr td-data-table-row *ngFor="let row of basicData">
      <td td-data-table-cell *ngFor="let column of columns" [numeric]="column.numeric">
        {{column.format ? column.format(row[column.name]) : row[column.name]}}
      </td>
      <td td-data-table-cell>
        <a class="no-decoration clickable" href="/shopkeeper/dashboard/admin/stores/edit/{{row['key']}}">
          <mat-icon>edit</mat-icon>
        </a>
        <a class="no-decoration clickable" (click)="deleteStore(row['key'], row['picturesLength'])">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </tr>
  </tbody>
</table>